body {
  margin: 0 auto;
  min-width: 400px;
  max-width: 800px;
}
[required] {
  border: red solid;
}
fieldset {
  background-color: lightgray;
  padding: 1rem;
}
fieldset:nth-child(even) {
  border-bottom: solid black 5px;
}
fieldset:hover {
  background-color: darkgray;
}
.envio {
  background-color: black;
  color: white;
  border: none;
}
