html {
  margin: 0 auto;
}
body {
  margin: 0 auto;
}
header {
  background-color: black;
  color: white;
  padding: 30px;
}
main {
  max-width: 75%;
  margin: 0 auto;
}
h1 {
  margin: 0;
}
h3 {
  color: grey;
  border-bottom: solid black 1px;
}
form {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}
#enviar {
  background-color: black;
  color: white;
}
form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
input,
textarea {
  background-color: grey;
  margin: 10px 0 10px;
}
@media (min-width: 480px) {
  img {
    width: 100%;
    height: 100%;
    display: inline;
  }
}
@media (min-width: 780px) {
  img {
    order: 2;
    width: 40%;
    position: relative;
    right: 0px;
    display: flex;
    flex-grow: 1;
  }
  div {
    display: flex;
    flex: 0 0 auto;
    align-content: flex-end;
    justify-content: right;
    width: fit-content;
  }
  div > p {
    width: 60%;
  }
  p {
    position: relative;
    display: flex;
    order: 1;
    font-size: 1.2em;
  }
}
