.”lista” li:last-child {
  background-color: rgb(0, 0, 255);
}
.”lista” li:nth-child(odd) {
  text-decoration: underline green;
}
.”lista” li {
  display: inline;
  margin: 5px;
}
.”lista” li:nth-child(1):after {
  content: "🎃";
}
.”lista” li:nth-child(2):after {
  content: "🤡";
}
.”lista” li:nth-child(3):after {
  content: "🤖";
}
.”lista” li:nth-child(4):after {
  content: "👽";
}
.”lista” li:nth-child(5):after {
  content: "💀";
}
.”lista” li:nth-child(6):after {
  content: "🧞‍♂️";
}
[lang="en"] {
  text-transform: uppercase;
  font-size: 2em;
}
#provincias {
  list-style: upper-roman;
}
#provincias li:nth-child(2) {
  list-style-type: initial;
}
