body {
  margin: 0 auto;
  padding: 0;
  background-color: rgb(233, 167, 81);
  max-width: 800px;
}
h1 {
  animation-name: secuencia;
  animation-duration: 2s;
  text-align: center;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5em;
  color: aliceblue;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: bold;
}
a {
  color: grey;
  background-color: aliceblue;
  border-radius: 50%;
  text-decoration: none;
  font-size: 2em;
  margin: 5px 5px;
}
img {
  margin: 10px;
  border-radius: 50%;
  width: 8em;
}
article {
  margin: 10px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  flex-wrap: wrap;
}
article:hover {
  transform: scale(1.05);
  transition-duration: 1.05s;
}
@keyframes secuencia {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.ronnie {
  opacity: 0;
  animation-name: secuencia;
  animation-delay: 2s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  transition: 1s;
}
.margie {
  opacity: 0;
  animation-name: secuencia;
  animation-delay: 4s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  transition: 1s;
}
.laura {
  opacity: 0;
  animation-name: secuencia;
  animation-delay: 6s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  transition: 1s;
}
article > header {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}
article > footer {
  background-color: blueviolet;
  color: aliceblue;
  padding: 15px;
}
article > footer > p {
  margin: 5px;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
}
.etiqueta {
  margin: 0;
  width: fit-content;
}
main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.rrss {
  display: flex;
  align-items: center;
}
